@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$primary-font: 'Montserrat', sans-serif;

#sider-component {
    // background-color: aquamarine;
    color: white;
    width: 170px;
}

.mask {
    background: #020220;
    border-radius: 0px 24px 24px 0px;
    height: 100vh;
}

.logo img {
    border-radius: 100px;
    margin-top: 39px;
    margin-left: 37px;
    margin-bottom: 83px;
}

.iconsSidebar {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__wrapper {
        padding-top: 40px;
        font-family: $primary-font;
        font-size: 14px;

        &__text_content {
            font-weight: 400;
        }
    }
}